.vscode/
[Rr]esults/
[Bb]rowser/
log.html
output.xml
report.html
settings.json
*playwright-log*
*selenium-screenshot*
*screenshot*
__pycache__
interactive_console_output.xml
*.out
*.code-workspace
/*.png